---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=506920f7b6a5e821f70babfd18080a31&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 4899f009-35da-445f-a1c2-c10b5dbe2551
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24942'
      X-Increment-Usage:
      - '1'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"validation_error","message":"Request failed with
        validation error","context":{"query":{"type":"invalid_query","message":"query
        must have at 3 character\u0027s"}}}}'
  recorded_at: Sun, 06 Nov 2022 02:25:03 GMT
recorded_with: VCR 6.1.0
