---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=506920f7b6a5e821f70babfd18080a31&query=%7B:address=%3E%2212230%20Washington%20Center%20Pkwy,%20Thornton,%20CO%2080241%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 1a4cc57a-121a-41d8-8491-33b7352e6106
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24891'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.438'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"latitude":39.920913,"longitude":-104.974662,"type":"address","name":"12230
        Washington Center Pkwy","number":"12230","postal_code":"80241","street":"Washington
        Center Pkwy","confidence":1,"region":"Colorado","region_code":"CO","county":"Adams
        County","locality":"Thornton","administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"USA","continent":"North America","label":"12230 Washington
        Center Pkwy, Thornton, CO, USA"},{"latitude":39.916052,"longitude":-104.97019,"type":"address","name":"12150
        Washington Center Pkwy","number":"12150","postal_code":"80241","street":"Washington
        Center Pkwy","confidence":1,"region":"Colorado","region_code":"CO","county":"Adams
        County","locality":"Thornton","administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"USA","continent":"North America","label":"12150 Washington
        Center Pkwy, Thornton, CO, USA"}]}'
  recorded_at: Tue, 08 Nov 2022 21:03:07 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/39.9209,-104.9747
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 10e3d1b8
      X-Server-Id:
      - vm-lnx-nids-apiapp2.ncep.noaa.gov
      X-Edge-Request-Id:
      - 22d38307
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/39.9209,-104.9747",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -104.9747,
                    39.920900000000003
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/39.9209,-104.9747",
                "@type": "wx:Point",
                "cwa": "BOU",
                "forecastOffice": "https://api.weather.gov/offices/BOU",
                "gridId": "BOU",
                "gridX": 63,
                "gridY": 69,
                "forecast": "https://api.weather.gov/gridpoints/BOU/63,69/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/BOU/63,69/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/BOU/63,69",
                "observationStations": "https://api.weather.gov/gridpoints/BOU/63,69/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -104.97884000000001,
                            39.911166000000001
                        ]
                    },
                    "properties": {
                        "city": "Northglenn",
                        "state": "CO",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 1138.5063447810001
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 18
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/COZ040",
                "county": "https://api.weather.gov/zones/county/COC001",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/COZ240",
                "timeZone": "America/Denver",
                "radarStation": "KFTG"
            }
        }
  recorded_at: Tue, 08 Nov 2022 21:03:07 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/BOU/63,69/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 14b95ac
      X-Server-Id:
      - vm-lnx-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - 22d39653
    body:
      encoding: UTF-8
      string: |-
        {
            "@context"[...]
