---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=506920f7b6a5e821f70babfd18080a31&query=1600%20Pennsylvania%20Ave%20NW,%20Washington%20DC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - d4da394a-df9c-47e6-abbe-a30482d3ea4a
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24954'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.099'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"latitude":38.897675,"longitude":-77.036547,"type":"address","name":"1600
        Pennsylvania Avenue NW","number":"1600","postal_code":"20500","street":"Pennsylvania
        Avenue NW","confidence":1,"region":"District of Columbia","region_code":"DC","county":"District
        of Columbia","locality":"Washington","administrative_area":null,"neighbourhood":"White
        House Grounds","country":"United States","country_code":"USA","continent":"North
        America","label":"1600 Pennsylvania Avenue NW, Washington, DC, USA"},{"latitude":38.897473,"longitude":-77.036548,"type":"address","name":"1600
        Pennsylvania Avenue Northwest","number":"1600","postal_code":"20500","street":"Pennsylvania
        Avenue Northwest","confidence":1,"region":"District of Columbia","region_code":"DC","county":"District
        of Columbia","locality":"Washington","administrative_area":null,"neighbourhood":"White
        House Grounds","country":"United States","country_code":"USA","continent":"North
        America","label":"1600 Pennsylvania Avenue Northwest, Washington, DC, USA"}]}'
  recorded_at: Sat, 05 Nov 2022 02:58:39 GMT
recorded_with: VCR 6.1.0
