---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=506920f7b6a5e821f70babfd18080a31&query=1600%20Pennsylvania%20Ave%20NW,%20Washington%20DC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 9c30ad15-3a21-46a4-9c61-5270289c7431
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24944'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '2.698'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"latitude":38.897675,"longitude":-77.036547,"type":"address","name":"1600
        Pennsylvania Avenue NW","number":"1600","postal_code":"20500","street":"Pennsylvania
        Avenue NW","confidence":1,"region":"District of Columbia","region_code":"DC","county":"District
        of Columbia","locality":"Washington","administrative_area":null,"neighbourhood":"White
        House Grounds","country":"United States","country_code":"USA","continent":"North
        America","label":"1600 Pennsylvania Avenue NW, Washington, DC, USA","bbox_module":[],"country_module":{"latitude":39.44325637817383,"longitude":-98.95733642578125,"common_name":"United
        States","official_name":"United States of America","capital":"Washington D.C.","flag":"\ud83c\uddfa\ud83c\uddf8","area":9372610,"landlocked":false,"independent":true,"global":{"alpha2":"US","alpha3":"USA","numeric_code":"840","region":"Americas","subregion":"Northern
        America","region_code":"019","subregion_code":"021","world_region":"AMER","continent_name":"North
        America","continent_code":"NA"},"dial":{"calling_code":"1","national_prefix":"1","international_prefix":"011"},"currencies":[{"symbol":"$","code":"USD","name":"US
        Dollar","numeric":840,"minor_unit":2}],"languages":{"eng":"English"}},"sun_module":{"rise":{"time":1667648396,"astronomical":1667642958,"civil":1667646730,"nautical":1667644829},"set":{"time":1667685812,"astronomical":1667691250,"civil":1667687478,"nautical":1667689379},"transit":1667667104},"timezone_module":{"name":"America\/New_York","offset_sec":-14400,"offset_string":"-04:00"}},{"latitude":38.897473,"longitude":-77.036548,"type":"address","name":"1600
        Pennsylvania Avenue Northwest","number":"1600","postal_code":"20500","street":"Pennsylvania
        Avenue Northwest","confidence":1,"region":"District of Columbia","region_code":"DC","county":"District
        of Columbia","locality":"Washington","administrative_area":null,"neighbourhood":"White
        House Grounds","country":"United States","country_code":"USA","continent":"North
        America","l[...]
