---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/38.8977,-77.0365
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 13e8b190
      X-Server-Id:
      - vm-lnx-nids-apiapp6.ncep.noaa.gov
      X-Edge-Request-Id:
      - 22d3119e
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/38.8977,-77.0365",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -77.036500000000004,
                    38.8977
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/38.8977,-77.0365",
                "@type": "wx:Point",
                "cwa": "LWX",
                "forecastOffice": "https://api.weather.gov/offices/LWX",
                "gridId": "LWX",
                "gridX": 97,
                "gridY": 71,
                "forecast": "https://api.weather.gov/gridpoints/LWX/97,71/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/LWX/97,71/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/LWX/97,71",
                "observationStations": "https://api.weather.gov/gridpoints/LWX/97,71/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -77.017229,
                            38.904102999999999
                        ]
                    },
                    "properties": {
                        "city": "Washington",
                        "state": "DC",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 1813.2587921460999
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 246
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/DCZ001",
                "county": "https://api.weather.gov/zones/county/DCC001",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/DCZ001",
                "timeZone": "America/New_York",
                "radarStation": "KLWX"
            }
        }
  recorded_at: Tue, 08 Nov 2022 21:03:03 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/LWX/97,71/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 1540d12d
      X-Server-Id:
      - vm-lnx-nids-apiapp6.ncep.noaa.gov
      X-Edge-Request-Id:
      - 22d31689
    body:
      encoding: UTF-8
      string: |-
        {
            "@context"[...]
