---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=506920f7b6a5e821f70babfd18080a31&query=3210%20Youngfield%20St,%20Wheat%20Ridge,%20CO%2080033
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - c2efae8c-7100-4c79-adec-508226ca1ff7
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24899'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.133'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"latitude":39.762199,"longitude":-105.141812,"type":"address","name":"3210
        Youngfield St","number":"3210","postal_code":"80033","street":"Youngfield
        St","confidence":1,"region":"Colorado","region_code":"CO","county":"Jefferson
        County","locality":"Wheat Ridge","administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"USA","continent":"North America","label":"3210 Youngfield
        St, Wheat Ridge, CO, USA"},{"latitude":39.762266,"longitude":-105.142119,"type":"address","name":"3210
        Youngfield Street","number":"3210","postal_code":"80033","street":"Youngfield
        Street","confidence":1,"region":"Colorado","region_code":"CO","county":"Jefferson
        County","locality":"Wheat Ridge","administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"USA","continent":"North America","label":"3210 Youngfield
        Street, Wheat Ridge, CO, USA"}]}'
  recorded_at: Tue, 08 Nov 2022 01:59:00 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/39.7622,-105.1418
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 1fd4aea
      X-Server-Id:
      - vm-lnx-nids-apiapp2.ncep.noaa.gov
      X-Edge-Request-Id:
      - 26fc27c5
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/39.7622,-105.1418",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -105.1418,
                    39.7622
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/39.7622,-105.1418",
                "@type": "wx:Point",
                "cwa": "BOU",
                "forecastOffice": "https://api.weather.gov/offices/BOU",
                "gridId": "BOU",
                "gridX": 57,
                "gridY": 62,
                "forecast": "https://api.weather.gov/gridpoints/BOU/57,62/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/BOU/57,62/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/BOU/57,62",
                "observationStations": "https://api.weather.gov/gridpoints/BOU/57,62/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -105.172968,
                            39.747422
                        ]
                    },
                    "properties": {
                        "city": "Applewood",
                        "state": "CO",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 3130.3874891426999
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 58
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/COZ039",
                "county": "https://api.weather.gov/zones/county/COC059",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/COZ239",
                "timeZone": "America/Denver",
                "radarStation": "KFTG"
            }
        }
  recorded_at: Tue, 08 Nov 2022 01:59:00 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/BOU/57,62/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - d247be8
      X-Server-Id:
      - vm-lnx-nids-apiapp8.ncep.noaa.gov
      X-Edge-Request-Id:
      - 26fc2a23
    body:
      encoding: UTF-8
      string: |-
        {
            "@context":[...]
